<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Pokédex</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar (ionInput)="searchPokemon($event)" placeholder="Buscar Pokémon"></ion-searchbar>
  
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let pokemon of pokemonList">
        <ion-card (click)="viewDetails(pokemon.name)">
          <img [src]="pokemon.image" alt="{{ pokemon.name }}">
          <ion-card-header>
            <ion-card-title>{{ pokemon.name | titlecase }}</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-button expand="full" (click)="prevPage()" [disabled]="offset === 0">Anterior</ion-button>
  <ion-button expand="full" (click)="nextPage()">Siguiente</ion-button>
</ion-content>
